.movie-card {
    height: 27em;
}

.movie-card-image-container {
    height: 16em
}

.movie-card-title {
    height: 3em;
    overflow: auto;
    text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
    .movie-card {
        height: 35em;
    }

    .movie-card-image-container {
        height: 24em;
    }
}