.btn-general, .btn-general:disabled {
  background-color: #008060;
  border-color: transparent;
}

.btn-general:hover {
  background-color: #004c3f;
  color: #ffffff;
  border-color: transparent;
}

.btn-general:active {
  background-color: #002e25;
  border-color: #002e25;
}

.btn-general:focus, .btn-general:active:focus {
  
  background-color: #008060;
  border-color: #008060;
}

.form-control:focus, .btn-general:active, .btn-general:active:focus, .btn-general:focus {
  box-shadow: 0 0 0 0.25rem rgba(37, 148, 124, 0.5);
}

::-webkit-scrollbar {
  width: .5em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(67, 55, 61, 0.3);
  background-color: var(--accent-dark);
}
::-webkit-scrollbar-thumb {
  background-color: #8fcabc;
  /* outline: 1px solid #433737; */
  border-radius: 25px;
  box-shadow: 0 1px rgba(37, 148, 124, 0.5);
}
::-webkit-scrollbar-thumb:hover {
  background: #008060; 
}  